@model MobileStore.Models.Manufacturer
           
@Html.ValidationSummary()

@Html.LabelFor(model => model.Name)
<br />

@Html.EditorFor(model => model.Name)
<span style="color:Red">@Html.ValidationMessageFor(model => model.Name)</span>    
<br />
@Html.LabelFor(model => model.Description)
<br />

@Html.TextAreaFor(model => model.Description, new { cols = 70, rows = 5 })
<span style="color:Red">@Html.ValidationMessageFor(model => model.Description)</span>    
<br /><br />